{% extends 'index.html' %}
{%block title %}My outfits{% endblock %}

{%block content%} 
{% if not outfits%}
<section class="flex grow justify-center items-center">
    <h1>You dont have any outfits. Create some <a href="{{ url_for('make_outfit') }}" class="underline">here</a></h1>
</section>
{%else%}
<section class="flex flex-wrap justify-center lg:justify-normal grow px-8 py-4">
    {% for outfit in outfits %}
        <div class="p-4 m-2 w-64">
            <h2 class="text-xl text-center">{{ outfit['name'] }}</h2>
            <div class="flex flex-col items-center">
                <img src="{{ outfit['top'] }}" alt="Top" class="w-full h-48 object-contain">
                <img src="{{ outfit['middle'] }}" alt="Middle" class="w-full h-48 -mt-8 object-contain">
                <img src="{{ outfit['bottom'] }}" alt="Bottom" class="w-full h-[120px] object-contain">
            </div>
            <form action="{{ url_for('delete_outfit', outfit_id=outfit['id']) }}" method="POST" class="flex justify-center items-center">
                <button type="submit" class="underline">Delete</button>
            </form>
        </div>
        {% endfor %}
</section>
{%if total_pages > 1 %}
<div class="pagination flex justify-center items-center pb-2">
    {% if page > 1 %}
        <a class="mr-2" href="{{ url_for('my_closet', page=page-1) }}"><svg class="size-4" data-slot="icon" aria-hidden="true" fill="none" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.75 19.5 8.25 12l7.5-7.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg></a>
    {% endif %}
    <span>Page {{ page }} of {{ total_pages }}</span>
    {% if page < total_pages %}
        <a class="ml-2" href="{{ url_for('my_closet', page=page+1) }}"><svg class="size-4" data-slot="icon" aria-hidden="true" fill="none" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m8.25 4.5 7.5 7.5-7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg></a>
    {% endif %}
</div>
{%endif%}
{%endif%}
{%endblock%}